
.title-header {
 height: 70px;
 color: #000000;
 background-color: #FFFFFF;

 
}

.top-name{
 font-family: cursive;
 color: #000000;
 padding-top: 0px;
 padding-left: 170px;
 padding-right: 20px;
 padding-bottom: 0px;
 margin-bottom: 0px;
 border-bottom: 0px;
 font-size: 22px;

}



.sub-name{
float: left;
font-family: impact;
color: #000000;
border-top: 0px;
margin-top: 0px;
padding-top: 0px;
padding-left: 170px;
padding-right: 20px;
padding-bottom: 0px;
margin-bottom: 0px;
border-bottom: 0px;
font-size: 15px;

}

.third-name{
	float: left;
	font-family: Gulim;
	font-size: 20px;
	color: #000000;
	margin-top: 0px;
	border-top: 0px;
	padding-top: 0px;
	padding-left: 500px;
	padding-right: 10px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;	
    vertical-align: top;
}


.header {
	background-color: #000000;
	color: #FFFFFF;
	height: 90px;
}



.header-logo {
	float: left;
	font-size: 15px;
	padding: 47px 170px;
}
.header-list {
	float: left;
}

.header-list li { 
	font-size: 12px;
	list-style: none;
	float: left;
	padding: 33px 20px;
}

.header-list a {
	color: #FFFFFF;
	text-decoration: none;
}

.main {
	padding: 100px 80px;
	width: 5000px;
	height: 5000px;
	

}

.About {
    float: left;
    font-family: impact;
	color: #000000;
	border: 10px 10px;
	text-align: center;
	font-size: 20px;
	
}
.sentence {
	float: left;
	color: #000000;
	text-align: center;
	border-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	
	font-size: 15px;
    
    /*border-bottom: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;*/
	
	/*font-size: 15px;
	height:500px;
	width:500px;*/
	
}


.gallary {
   float: left;
   font-family: impact;
   color: #000000;
   border-top: 0px;
   margin-top: 0px;
   padding-top: 0px;
   padding-left: 170px;
   padding-right: 20px;
   padding-bottom: 0px;
   margin-bottom: 0px;
   border-bottom: 0px;
   font-size: 15px;

}

    /*color: #000000;
    border-top: 0px;
    margin-top: 0px;
    height: 2000px;
    width: 1000px;*/
    
	
    /*height: 100px;
    width: 1000px;
    white-space: nowrap;*/
    
	


.gallary-logo {
	float: left;
	font-size: 15px;
	padding: 100px 300px;
}

.gallary-list {
	float: left;
}



.gallary-list li {
    list-style: none;
    display:block;
	float: left;
	padding: 33px 20px;
	/*height: 100px;
    width: 1000px;
	padding:  300px;*/

}/*2/1に追記*/










/*.
article,aside,canvas,details,figcaption,figure,
header,footer,main,menu,nav,section,summary {
  display: block;
}*/

/*body {
  -webkit-text-size-adjust: 100%;
}*/

/*.main_img{
	width: 100%;
	height: 480px;
	background: url('images/main_image.png');
	background-size: cover;
	background-position: 20% 10%;
}

.bxslider img {
    margin:0 auto;
    display:block;
    }*/


/*.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;

}*/



.footer {
  background-color: #000000;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}


